page-channel-chat {

    .chat-bg{
        background-color:rgb(140, 224, 224);
        padding:10px 20px 10px 10px;
        border-radius: 15px;
    }

    .black-text{
        color:black !important;
        font-size: 16px;
        font-weight:400;
    }
}
